<div class="info-popup-bot-info">
	<div class="modal-header">
		<span class="bot-name">{{botTypeName | capitalize}}</span>
	</div>
	<div class="modal-body">
        <div class="row">
            <div class="col-xs-5">
                <div class="robot robot-large" ng-class="botTypeName"></div>
            </div>
            <div class="info-detail col-xs-7">
                <p ng-repeat="detail in robotDetails">{{detail | capitalize | spacify}}</p>
            </div>
        </div>
        <div class="row">
            <p class="info-detail">{{description}}</p>
        </div>				
	</div>
	<div class="modal-footer">
		<button class="btn btn-tribetron" ng-click="cancel()">Ok</button>
	</div>
</div>