<div class="row">
    <div class="col-xs-6">
        <table class="table-bordered game chess">
            <tr ng-repeat="row in chessBoard.board track by $index">
                <td ng-repeat="slot in row track by $index" ng-click="selectPiece($index, $parent.$index)"
                        ng-class="{'floor-clickable' : !gameOver && chessBoard.isMovable($index, $parent.$index), 'bg-white': ($parent.$index + $index) % 2 !== 0, 'bg-black': ($parent.$index + $index) % 2 === 0}">
                    <div class="robot" ng-class="getCssNameForPiece(chessBoard.board[$parent.$index][$index])"></div>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-xs-6 battle-info">
        <div class="row">

            <h4>Black pieces left</h4>
            <span class="robot-small" ng-class="getCssNameForPiece(p)" ng-repeat="p in blackPieces track by $index"></span>			
        </div>
        <div class="row">	
            <h4>White pieces left</h4>
            <span class="robot-small" ng-class="getCssNameForPiece(p)" ng-repeat="p in whitePieces track by $index"></span>
        </div>
        <div class="row">
            <p><strong>Reward</strong>: {{reward}} tribs</p>
            <div class="btn-group">
                <button class="btn btn-tribetron" ng-click="skip()">Skip</button>
                <button class="btn btn-tribetron" ng-disabled="!win" ng-click="continueGame()">Continue</button>
            </div>
            <p ng-if="gameOver">{{chessOverText}}</p>
        </div>
    </div>
</div>