<div class="row">
    <div class="col-xs-8">
        <table class="table-bordered game conquest">
            <tr ng-repeat="row in conquest.gameTable track by $index">
                <td class="floor" ng-repeat="piece in row" ng-class="{'floor-clickable' : conquest.isSelectable(piece, true)}" ng-click="selectPiece(piece)">
                    <div class="robot" ng-class="piece.getClass()"></div>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-xs-offset-1 col-xs-3 pairs-info">
        <p><strong>Pieces player:</strong> {{conquest.getAmountOfPieces(true)}}</p>
        <p><strong>Pieces opponent:</strong> {{conquest.getAmountOfPieces(false)}}</p>
        <p><strong>Reward</strong>: {{reward}} tribs</p>
        <div class="btn-group">
            <button class="btn btn-tribetron" ng-click="skip()">Skip</button>
            <button class="btn btn-tribetron" ng-disabled="!win" ng-click="continueGame()">Continue</button>
        </div>
        <p ng-if="conquestOver">
            {{conquestOverText}}
        </p>
    </div>
</div>