<div ng-controller="GameController">
	<table class="table-bordered game">
		<thead>
			<th><td colspan="{{map.lines.length}}">{{title}}</td></th>
		</thead>
		<tbody>
			<tr ng-repeat="row in map.rows track by $index">
				<td ng-repeat="area in map.getAreasByRow($index)" ng-class="area.isWall ? 'wall' : 'floor'">
					<div ng-if="area.robot" ng-class="area.robot.getTypeClass()" class="robot"></div>
					<div ng-if="area.robot && area.robot.destroyed" class="broken"></div>
				</td>
			</tr>
		</tbody>
	</table>
	<button ng-click="nextTurn()">Next turn</button>
	<button ng-click="fullTurn()">Full turn</button>
</div>