<div class="container">
    <div class="modal-header">
        <h2>Help</h2>
    </div>
    <div class="modal-body">
        <p class="help-text">
            You will encounter varying challenges in the campaign from ventures to mini-games and to different battles where you must recruit and lead your team of robots to victory.
            Survive all the challenges to win it. Campaign is over if you lose a battle or a venture. Mini-games are optional and can be skipped.
        </p>
        <p class="help-text">
            Battles are won by the team with more bots left on the field (regardless of how tough bots are).
            Even bots that would disappear after the battle, like hacked bots or Multiplicator and its clones, count towards this victory.
        </p>
        <p class="help-text">
            Bots are autonomous on the battlefield so your role as a player is to use your abilities like attack and repair to help win the battle. You will gain more abilities as you progress in the campaign.            
        </p>
        <p class="help-text">
            Remember to repair or sell any damaged bots you have before initiating a battle.
        </p>           
    </div>
    <div class="modal-footer">
        <button class="btn btn-tribetron" ng-click="ok()">Ok</button>
    </div>
</div>