<div class="container">
	<h3>Help</h3>
	<p class="help-text">
		Battles are won by the team with more bots left on the field (regardless of how tough they are).
		Even bots that would disappear after the battle, like hacked bots or Multiplicator and its clones, count towards this victory.
	</p>
	<p class="help-text">
		If player's team loses the battle, or the battle is a draw, the campaign is over and restart is necessary. Losing memory challenge on campaign does not end the campaign.
	</p>
	<p class="help-text" style="font-size: smaller;">
		Note that the game is still a work in progress and many things are susceptible to change in the future. Game is is developed primarily on Chrome and tested occassionally on Firefox. Using browser's back button during campaign is liable to mess up things.
	</p>
	<button class="btn btn-primary" ng-click="ok()">Ok</button>
</div>