<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" ng-click="newCampaign()">New Campaign</button>
        <button class="btn btn-primary" ng-click="newRumble()">New Rumble</button>
        <button class="btn btn-primary" ng-click="loadGame()" ng-disabled="isLoadGameDisabled()">Load Game</button>
        <button class="btn btn-info" ng-click="help()">Help</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 battle-image">
        <img src="img/battle-image.png" ng-hide="videoShown" ng-click="video()" popover="Watch tutorial video" popover-trigger="mouseenter"/>
    </div>    
</div>