<div class="row">
    <div class="col-xs-12 centered">
        <button class="btn btn-tribetron" ng-click="newCampaign()">New Campaign</button>
        <button class="btn btn-tribetron" ng-click="newRumble()">New Rumble</button>
        <button class="btn btn-tribetron" ng-click="loadGame()" ng-disabled="isLoadGameDisabled()">Load Game</button>
        <button class="btn btn-tribetron" ng-click="help()">Help</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 battle-image centered">
        <img src="img/battle-image.png" ng-hide="videoShown" ng-click="video()" popover="Watch tutorial video" popover-trigger="mouseenter"/>
    </div>    
</div>