<div class="container" ng-controller="RumbleController">
	
	<div class="row">
		<button ng-click="newGame()" class="btn btn-primary">New Game</button>
		<button ng-click="settings.decreaseSpeed()" class="btn btn-default" ng-disabled="!settings.canDecreaseSpeed()">- Speed</button>
		<button ng-click="settings.increaseSpeed()" class="btn btn-default" ng-disabled="!settings.canIncreaseSpeed()">+ Speed</button>
		<button ng-click="showMapOptions = !showMapOptions" class="btn btn-default">{{showMapOptions ? "Hide" : "Show"}} Map Options</button>
	</div>

	<div class="row rumble-input-number-group form-inline" ng-show="showMapOptions">
		<div class="form-group">
			<label class="aria-label">Map width</label><number-picker value="mapWidth" min="5" max="15" step="1"></number-picker>
		</div>
		<div class="form-group">
			<label class="aria-label">Map height</label><number-picker value="mapHeight" min="5" max="15" step="1"></number-picker>
		</div>
		<div class="form-group">
			<label class="aria-label">Bots per team</label><number-picker value="botsPerTeam" min="1" max="20" step="1"></number-picker>
		</div>
		<div class="form-group">
			<label class="aria-label">Traps</label><number-picker value="trapAmount" min="0" max="10" step="1"></number-picker>
		</div>
		<div class="form-group">
			<label class="aria-label">Random walls</label><number-picker value="randomWalls" min="0" max="10" step="1"></number-picker>
		</div>
	</div>	
	<div class="row">
		<span style="color: red;">{{invalidArguments}}</span>
	</div>
	<div class="row" ng-show="gameStarted">
		<div class="col-xs-9 rumble-table-container">
		
			<table class="table-bordered game">
				<tbody>
					<tr ng-repeat="row in map.rows track by $index">
						<td ng-repeat="area in map.getAreasByRow($index)" ng-class="area.isWall ? 'wall' : 'floor'">
							<div ng-if="area.robot" ng-class="area.robot.getTypeClass()" class="robot"></div>
							<div ng-if="area.robot && area.robot.destroyed" class="broken"></div>
							<div ng-if="area.robot && !area.robot.destroyed && area.robot.stunned > 0" class="stunned"></div>
							
							<div ng-if="area.robot" class="health">
								<div class="health-bar" ng-class="{'health-bar_enemy': area.robot.team.isEnemy}" style="width:{{area.robot.calculatePercentageOfHealth()}}%;"></div>
							</div>
							<div ng-if="area.trap" class="trap" ng-class="area.trap.trapType.cssName"></div>
							<img ng-if="area.robot" class="hit" ng-hide="area.robot.damaged < 1" src="img/hit.png" />
							<img ng-if="area.robot" class="heal" ng-hide="!area.robot.beingHealed" src="img/repair.png" />
							<img ng-if="area.explosion" class="explosion" ng-class="{'explosion_big': area.bigExplosion}" ng-hide="!area.explosion" src="img/explosion.png" />
							<img ng-if="area.nuke" class="nuke" ng-hide="!area.nuke" src="img/nuke.png" />
						</td>
					</tr>
				</tbody>
			</table>
			
			<button class="btn btn-default" ng-click="nextTurn()" ng-disabled="gameState.isOver()">Next turn</button>
			<button class="btn btn-default" ng-click="fullTurn()" ng-disabled="gameState.isOver()">Full turn</button>
			<button class="btn btn-default" ng-click="togglePlay()" ng-disabled="gameState.isOver()">{{playToggle}}</button>
			<span>{{gameState.round}}/{{gameState.maxRounds}}</span>
			<span ng-show="autoPlayOn"> <input type="checkbox" ng-model="continuousPlay"> Endless game</input></span>
			<button ng-click="showBattleLog = !showBattleLog" class="btn btn-default">{{showBattleLog ? "Hide" : "Show"}} log</button>
			<div ng-show="showBattleLog">
				<textarea class="battle-log" ng-disabled="true" ng-trim="false">{{battleLog.log.join('')}}</textarea>
			</div>
		</div>
		
		<div class="col-xs-3 battle-info">
		
			<div class="row" ng-repeat="team in teams">
				<h1>{{team.name}}</h1>
				<strong style="float:left">Bots left </strong> <span ng-repeat="botsByType in team.botsByTypeAlive"><span class="robot-small" ng-class="bot.getTypeClass()" ng-repeat="bot in botsByType.bots"></span></span>
			</div>
			
			<div class="row" ng-show="gameState.isOver()">
				<h1>Game Over!</h1>
				<span>{{winMessage()}}</span>
			</div>
		</div>
	
	</div>
</div>