<div class="container" ng-controller="ShopController">
	<div class="row">
		<div class="col-xs-8">
			<table class="table-bordered">
				<tr ng-repeat="botType in botTypes">
					<td>
						<div class="robot-large touchable" ng-class="botType.typeName" ng-click="buyBot(botType)"></div>
					</td>
					<td>
						<strong>Class: {{botType.typeName | capitalize}}</strong>
						<p class="detail" ng-repeat="detail in getDetails(botType)">{{detail | capitalize | spacify}}</p>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-4">
			<div>
				<strong>Money: {{money}}
			</div>
			<div>
				<strong>Roster (max {{maxRosterSize}}): </strong><span ng-repeat="bot in team.robots" class="robot-small touchable" ng-class="bot.getTypeClass()" ng-click="sellBot(bot)"></span>
			</div>
			<div>
				<button ng-disabled="maxRosterSize > team.robots.length" ng-click="toBattle()">To Battle</button>
			</div>
		</div>
	</div>
	
</div>