table.game td {
	width: 52px;
	height: 52px;
	position: relative;
}

table.game td.wall {
	background: black;
}

table.game td.floor {
	background: grey;
}

.robot {
	z-index: 5;
}

.hunter  {
	content: url("img/robobasic.png");
	width: 50px;
	height: 50px;
}

.hunter_enemy {
	content: url("img/robobasic2.png");
	width: 50px;
	height: 50px;
}

.box {
	content: url("img/boxbot.png");
	width: 50px;
	height: 50px;
}

.box_enemy {
	content: url("img/boxbot2.png");
	width: 50px;
	height: 50px;
}

.broken {
	position: absolute;
	top: 1px;
	left: 1px;
	content: url("img/broken.png");
	width: 50px;
	height: 50px;
	z-index: 150;
}